.card {
    width: 375px;
    padding: 15px 20px;
    background-color: #141b2bb4;
    box-sizing: 0 8px 25px #f5f0f0;
}

.form-group {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.form-control {
    padding: 12px;
    border: none;
    outline: none;
    background-color: #0a0e1585;
    color: #fff;
    &::placeholder {
        color: #ccc;
        font-weight: 400;
    }
}

label {
    margin-bottom: 5px;
    color: #fff;
    font-weight: 500;
}

.btn {
    outline: none;
    color: #fff;
    text-transform: uppercase;
    padding: 12px;
    text-align: center;
    background-color: #101a23eb;
    border: none;
    cursor: pointer;
}

$mobile-width: 780px;
$mobile-sm-width: 500px;
$tablet-width: 1024px;

@mixin mobile-small {
    @media only screen and (max-width: $mobile-sm-width) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}
